<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/output.css">
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">
    <title>Interpret Lingo</title>
</head>

<body class="bg-[#111111]">
    <nav class="flex justify-between items-center bg-[#1565c0] p-1">
        <div class="logo">
            <img class=" w-6 rounded-xl" src="images/favicon.svg" alt="logo">
        </div>
        <div class="brand text-white font-serif text-xs">Interpret Lingo</div>
        <div class="repo">
            <a href="https://github.com/Kenshi2727/Interpret-Lingo.git"><img class=" w-6 rounded-xl"
                    src="images/repo.jpeg" alt="repo link"></a>
        </div>
    </nav>

    <div class="h-svh translate flex flex-col justify-center items-center gap-y-2">
        <h1 class="font-serif text-white text-3xl mb-3">Interpret Lingo</h1>
        <div class="translate-from">
            <p class="font-serif text-white my-2">Translate From</p>
            <textarea class="bg-[#2d2b2b] w-60 h-32 border-white border resize-none outline-white text-white"
                name="from" id="from"></textarea>
        </div>
        <div class="translate-to">
            <p class="font-serif text-white my-2">Translate To</p>
            <form action="/translate" method="post">
                <textarea class="bg-[#2d2b2b] w-60 h-32 border-white border resize-none outline-white text-white"
                    name="to" id="to"></textarea>
            </form>
        </div>
        <button type="button"
            class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-4 py-2 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">Copy
            Text</button>
    </div>
</body>

</html>